@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
.col-md-4 {
  padding: 0px;
}
.quote-author {

  font-size: 30px;
}
.quote-font {
  font-family: "Quattrocento Sans", sans-serif;
}
