<div>
  <p><strong>submitted By: </strong>{{ quote.submittedBy }}</p>
  <p>
    <strong>Up Votes: </strong>
    {{ quote.upVote }}
    <button class="circle btn btn-outline-secondary">
      <img class="up-vote" src="./assets/up-vote.png" alt="" />
    </button>
  </p>
  <p>
    <strong>Down Votes: </strong>
    {{ quote.downVote }}
    <button class="circle btn btn-outline-secondary">
      <img class="down-vote" src="./assets/down-vote.png" alt="" />
    </button>
  </p>
  <button class="circle btn btn-danger" (click)="quoteComplete(true)">x</button>
</div>
